.container-app {
    background: linear-gradient(to right, #f4428f,#e51d3f);
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    height: 750px;
    justify-content: center;
    
}

.container-list {
    background: white;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    justify-content: center;
    margin-top: 75px;
}

h1 {
    flex-wrap: wrap;
    
}

h2 {
    font-size: 20px;
    
}

.addButton {
    border: none;
    flex-wrap: wrap;
    width: 495px;
    height: 25px;
    justify-content: space-around;
    border: solid 1px rgba(255, 0, 200, 0.801);
    color: rgba(255, 0, 200, 0.801);
    margin-top: 10px;
}

#myFilter {
    width: 495px;
    font-size: 30px;
    justify-content: space-around;
    margin: 0;
 }
 
 #myAdd {
     width: 495px;
     font-size: 30px;
     justify-content: center;
     margin: 0;
     padding-top: 5px;
 }

 .xButton {
    border: none;
    justify-content: left;
    font-size: 15px;
 }

 .completeButton {
    border: solid 1px rgba(255, 0, 200, 0.801);
    color: rgba(255, 0, 200, 0.801);
 } 


 li {
     font-size: 15px;
     width: 450px;
     margin: 0;
     padding: 0;
 }

 li.disabled {
     text-decoration: line-through;
 }

 .active {
    border: solid 1px rgba(255, 0, 200, 0.801);
    color: rgba(255, 0, 200, 0.801);
  }

  .disabled {
    display: hide;
  }